.navbar {

  color: white;
  padding: 10px 0;
  padding-top: 20px;
}



.nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px;
  transition: color 0.3s ease;
  font-family: 'CustomFont';
}

.nav-link:hover {
  color: #0a8a1f; /* رنگ هاور */
}


.nav-link.active {
  color: #0a8a1f; /* رنگ روت فعلی */
}

.pushable {
  background: hsl(0, 2%, 24%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 200px; /* حداکثر عرض دکمه */
  margin: 0 auto; /* مراکز کردن دکمه */
}

.front {
  display: block;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 19px;
  background: hsl(240, 3%, 6%);
  color: white;
  transform: translateY(-6px);
  text-align: center; /* متن را وسط قرار می‌دهد */
  width: 100%; /* عرض کامل داخل پدر */
}

.pushable:active .front {
  transform: translateY(-2px);
}

/* Media Queries برای تنظیم استایل‌ها در اندازه‌های مختلف صفحه */
@media (max-width: 580px) {
  .front {
    font-size: 6px; /* اندازه فونت را کاهش می‌دهد */
    padding: 8px 16px; /* اندازه padding را کاهش می‌دهد */
  }

  .pushable {
    max-width: 18%; /* حداکثر عرض دکمه را کاهش می‌دهد */
  }
}
@media(max-width: 580px){
  .nav-link {
    text-decoration: none;
    color: white;
    font-size: 8px;
    padding: 10px;
    transition: color 0.3s ease;
    font-family: 'CustomFont';
  }
  
}


